.navbar{
    margin-bottom:40px ;
}
.card-content{
    margin-bottom:40px ;
}

.custom-offset {
      margin-left: 17rem;
      margin-top: 2rem;
    }

/*.custom-margin-top {
        margin-top: 2rem;
      }
 